body {
    font-family: 'Oxygen', sans-serif;
}

hr {
    border: 0.1em solid #333;
}

br {
    margin: 18vh;
}

#head-space {
    height: 8vh;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8vh;
    background-color: #82C2E0;
    z-index: 10000;
}

#page-title {
    color: #333;
    text-align: center;
    padding-top: 0.5em;
}

.section-heading {
    margin-top: 10vh;
}


#page-title > h1 {
    font-weight: bold;
}

.scroll-anchor {
    margin-top: 2.5vh;
    padding: 0.1em 0.5em 0.13em 0.5em;
}

.map-heading {
    margin-top: 8vh;
    text-align: center;
}

#map-title {
    margin-top: 3vh;
    text-align: center;
}

#world {
    height: 30vh;
    margin-top: 3vh;
}

#world-wide {
    height: 40vh;
}

#gdp-scatter {
    height: 40vh;
}

#top-countries {
    margin: 8vh;
}

.plot-text {
    padding-top: 18vh;
}

#year-controller {
    margin-top: 1vh;
    padding: 0;
    color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 0.1em;
    background-color: #9EC544;
}

.material-icons {
    font-size: 1.5em;
    color: #FFF;
}

.year-sel {
    margin: 0;
    padding-top: 0.2em;
    cursor: pointer;
}

.year-sel:hover, .material-icons:hover {
    color: #444;
}

.line {
    fill: none;
    stroke: orange;
    stroke-width: 2px;
}

.leaflet-container {
    background-color: #E9E5D1;
    background-color: rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content-wrapper {
    border-radius: 0.2em;
    color: #333;
    background-color: rgba(255, 255, 255, 1);
}

.leaflet-popup-close-button {
    display: none;
}

.pophr {
    border: 1px solid #333;
}

.learn-btn {
    vertical-align: text-bottom;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin-left: 1.5em;
}

footer {
    height: 8vh;
    text-align: center;
    background-color: #82C2E0;
}